@import '~@lcooper/sass-utils';

.runtime-error {
    @include flex(column);
    height: 100%;

    > header {
        padding: 0.4em 1em;
        border-bottom: 1px solid var(--text-dim);

        > .error-name {
            padding: 0.4em 0;
            font-size: 1.125em;
            font-weight: bold;
            color: var(--red);
        }

        > .error-message {
            padding: 0.5em 0;
            white-space: pre-wrap;
        }
    }

    > .stack-trace {
        flex-grow: 1;
        overflow: auto;
        padding: 0.6em 1em;

        > .stack-frame {
            line-height: 1.5;

            > .location {
                font-size: 0.9em;
                color: var(--text-dim);
            }

            > .code-block {
                margin-top: 0.4em;
            }

            + .stack-frame {
                margin-top: 0.8em;
            }
        }
    }
}
