@import '~@lcooper/sass-utils';

.compile-errors {
    @include flex(column);
    overflow: auto;
    min-width: 50%;
    max-width: 100%;

    > header {
        padding: 1em;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        color: var(--red);
    }
}
